@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 10%);

  --primary: hsl(220, 1000%, 50%);
  --primary-foreground: hsl(0, 0%, 90%);

  --secondary: hsl(0, 0%, 95%);
  --secondary-foreground: hsl(0, 0%, 30%);

  --accent: hsl(0, 0%, 90%);

  --input: hsl(0, 0%, 80%);
}

.dark:root {
  --background: hsl(0, 0%, 10%);
  --foreground: hsl(0, 0%, 90%);

  --secondary: hsl(0, 0%, 30%);
  --secondary-foreground: hsl(0, 0%, 95%);

  --accent: hsl(0, 0%, 20%);

  --input: hsl(0, 0%, 30%);
}

body {
  background: var(--background);
}